* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

.overflow-hidden {
    overflow: hidden;
}

.transition-title {
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 55px;
    letter-spacing: 3px;
    text-align: center;
}

.transition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #fc5e03;
    position: fixed;
    -webkit-animation-name: transitions;
    -webkit-animation-duration: 2s;
    animation-name: transitions;
    animation-duration: 2s;
}

@-webkit-keyframes transitions {
    0%   {left: 0px; top: 0px;}
    60%   {left: 0px; top: 0px;}
    100% {left: 100vw; top: 0px;}
}

@keyframes transitions {
    0%   {left: 0px; top: 0px;}
    60%   {left: 0px; top: 0px;}
    100% {left: 100vw; top: 0px;}
}

.large-header {
    background: rgba(0,0,0,0.5);
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.small-header {
    background: rgba(0,0,0,0.8);
    height: 105px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.container a:link, .container a:visited {
    text-decoration: none;
    color: black;
}

.container a:hover, .container a:focus {
    text-decoration: underline;
}

header a:link, header a:visited {
    text-decoration: none;
    color: antiquewhite;
}

header a:hover, header a:focus {
    text-decoration: underline;
}

.flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#recipes, #videos {
    padding-bottom: 40px;
    font-size: 28px;
}

#recipes {    
    padding-left: 4%;
}

#videos {
    padding-right: 4%;
}

#videos-container {
    padding-bottom: 15px;
}

header h1 {
    color: antiquewhite;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 40px;
}

.landing-page-background {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}

.results-page-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.unsplash.com/photo-1549859454-6271f0764d7b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}

main {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    line-height: 1.5;
    letter-spacing: 1px;
}

input {
    background: antiquewhite;
    padding-right: 50px;
    padding-left: 8px;
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    vertical-align: middle;
}

button {
    margin-left: -53px;
    height: 35px;
    width: 50px;
    border: none;
    background: antiquewhite linear-gradient(to left, #fc5e03, #fc5e03);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size 0.4s 0s;
    border-radius: 0 5px 5px 0;
    vertical-align: middle;
}

button:hover {
    background-size: 100% 100%;
    cursor: pointer;
}

.more-results {
    width: 30px;
    height: 18px;;
}

.youtube-more-results, .edamam-more-results {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    margin-top: 40px;
    text-align: left;
}

.youtube-more-results a:hover, .edamam-more-results a:hover, .youtube-more-results a:focus, .edamam-more-results a:focus {
    text-decoration: underline;
}

.creator {
    margin-bottom: 10px;
    font-weight: 500;
}

#nutrition-individual-results p {
    font-weight: 500;
}

.search-icon {
    padding: 0 5px;
    width: 40px;
    height: 25px;
    border-radius: 0 5px 5px 0;
}

.description {
    text-align: center;
    margin-bottom: 35px;
    color: antiquewhite;
    font-size: 18px;
}

.search-form {
    text-align: center;
}

.hidden {
    display: none;
}

.flexbox-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.flexbox-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-row-big-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.search-nav-scroll-up {
    top: 0;
    left: 50%;
    position: fixed;
    transform: translate(-50%, 0);
    width: 260px;
    -webkit-animation-name: scroll-up;
    -webkit-animation-duration: 0.55s;
    animation-name: scroll-up;
    animation-duration: 0.55s;
}

@-webkit-keyframes scroll-up {
    0%   {top: 105px;}
    100% {top: 0;}
}

@keyframes scroll-up {
    0%   {top: 105px;}
    100% {top: 0;}
}

.search-nav-scroll-down {
    top: 105px;
    left: 50%;
    position: fixed;
    transform: translate(-50%, 0);
    width: 260px;
    -webkit-animation-name: scroll-down;
    -webkit-animation-duration: 0.55s;
    animation-name: scroll-down;
    animation-duration: 0.55s;
}

@-webkit-keyframes scroll-down {
    0%   {top: 0;}
    100% {top: 105px;}
}

@keyframes scroll-down {
    0%   {top: 0;}
    100% {top: 105px;}
}

.search-nav {
    top: 105px;
    left: 50%;
    position: fixed;
    transform: translate(-50%, 0);
    width: 260px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: black;
    margin-bottom: 30px;
    font-size: 26px;
}

#search-results {
    padding-top: 145px;
}

ul {
    padding-left: 30px;
    text-align: left;
}

li {
    margin-bottom: 30px;
}

#text-individual-results, #vid-individual-results {
    display: inline-block;
}

.recipe-video-images, .text-recipe-images {
    border-radius: 5px;
    border: 6px double black;
    box-shadow: 5px 10px 12px black;
    width: 185px;
    height: 135px;
}

#edamam-badge {
    margin-top: 20px;
}

.nutrition-attribution {
    width: 200px;
}

.vid-attribution {
    width: 150px;
}

.youtube {
    width: 40px;
    margin-bottom: -8px;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
    background: rgba(252, 94, 3, 0.8);
    margin-bottom: 50px;
    border-radius: 5px;
    padding-bottom: 30px;
    padding-right: 8px;
    padding-left: 8px;
}

.nutrition-header, .recipes-header, .videos-header {
    padding-top: 15px;
}

#nutrition-individual-results, #text-individual-results, #vid-individual-results {
    color: black;
}

@media screen and (min-width: 400px) {
    .transition-title {
        font-size: 75px;
    }

    #title {
        font-size: 47px;
        padding-top: 40px;
    }

    .large-header {
        height: 130px;
    }

    .description {
        font-size: 20px;
        max-width: 550px;
        margin-right: auto;
        margin-left: auto;
    }

    input {
        padding-right: 60px;
        width: 325px;
        height: 40px;
        font-size: 20px;
    }

    button {
        margin-left: -55px;
        height: 40px;
    }

    .search-nav, .search-nav-scroll-up, .search-nav-scroll-down {
        width: 350px;
    }

    .recipe-video-images, .text-recipe-images {
        width: 260px;
        height: 190px;
    }

    #search-results {
        padding-top: 150px;
    }

    #recipes, #videos {
        padding-bottom: 35px;
        font-size: 32px;
    }

    h2 {
        font-size: 30px;
    }
    
    #nutrition-individual-results p, #text-individual-results {
        font-size: 19px;
    }

    h3 {
        font-size: 22px;
        max-width: 400px;
    }

    h4 {
        font-size: 20px;
    }

    .youtube-more-results, .edamam-more-results {
        max-width: 300px;
    }
}

@media screen and (min-width: 700px) {
    .transition-title {
        font-size: 90px;
    }

    #title {
        font-size: 57px;
        padding-top: 32px;
    }

    .description {
        font-size: 24px;
        max-width: 620px;
    }

    input {
        width: 375px;
    }

    .search-nav, .search-nav-scroll-up, .search-nav-scroll-down {
        width: 400px;
    }

    .container {
        margin-left: 10%;
        margin-right: 10%;
    }

    .recipe-video-images, .text-recipe-images {
        width: 360px;
        height: 262px;
    }

    #recipes, #videos {
        padding-bottom: 32px;
        font-size: 40px;
    }

    h2 {
        font-size: 33px;
    }
    
    #nutrition-individual-results p, #text-individual-results, #vid-individual-results p {
        font-size: 21px;
    }

    h3 {
        font-size: 24px;
        max-width: 400px;
    }

    h4 {
        font-size: 22px;
    }

    .youtube-more-results, .edamam-more-results {
        font-size: 28px;
        max-width: 450px;
    }
}

@media screen and (min-width: 1100px) {
    .transition-title {
        font-size: 110px;
    }

    #title {
        font-size: 70px;
        padding-top: 20px;
        letter-spacing: 4px;
    }

    #results-title {
        padding-top: 20px;
        font-size: 55px;
    }

    input {
        width: 450px;
    }

    .description {
        font-size: 26px;
        max-width: 700px;
    }

    .search-nav, .search-nav-scroll-up, .search-nav-scroll-down {
        width: 475px;
    }

    #nutrition-container {
        margin-left: 4%;
        margin-right: 1%;
        position: fixed;
        top: 150;
        left: 0;
    }

    #recipes-container {
        margin-left: 34.4%;
        margin-right: 0;
    }

    #videos-container {
        margin-left: 0;
        margin-right: 4%;
    }

    .vid-attribution {
        width: 180px;
    }

    .container {
        width: 30%;
    }

    .recipe-video-images, .text-recipe-images {
        width: 260px;
        height: 190px;
    }

    .youtube-more-results, .edamam-more-results {
        max-width: 300px;
    }

    .nutrition-scroll-up {
        top: 50px;
        left: 0;
        margin-left: 4%;
        margin-right: 0;
        position: fixed;
        width: 30%;
        -webkit-animation-name: nutrition-scroll-up;
        -webkit-animation-duration: 0.55s;
        animation-name: nutrition-scroll-up;
        animation-duration: 0.55s;
    }
    
    @-webkit-keyframes nutrition-scroll-up {
        0%   {top: 150px;}
        100% {top: 50px;}
    }
    
    @keyframes nutrition-scroll-up {
        0%   {top: 150px;}
        100% {top: 50px;}
    }

    .nutrition-scroll-down {
        top: 150px;
        left: 0;
        margin-left: 4%;
        margin-right: 0;
        position: fixed;
        width: 30%;
        -webkit-animation-name: nutrition-scroll-down;
        -webkit-animation-duration: 0.55s;
        animation-name: nutrition-scroll-down;
        animation-duration: 0.55s;
    }
    
    @-webkit-keyframes nutrition-scroll-down {
        0%   {top: 50px;}
        100% {top: 150px;}
    }
    
    @keyframes nutrition-scroll-down {
        0%   {top: 50px;}
        100% {top: 150px;}
    }
}

@media screen and (min-width: 1320px) {
    .recipe-video-images, .text-recipe-images {
        width: 305px;
        height: 222px;
    }
}