* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: darkgray;
    height: 100px;
    width: 100%;
    position: fixed;
}

main {
    background-color: lightgray;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    padding-top: 30px;
}

.error-message {
    color: red;
    text-align: center;
}